<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Castle Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" th:href="@{/home}">Home</a>
</nav>

<div class="container mt-5">
    <h1 class="mb-4">Castle Details</h1>
    <div class="card mb-4 p-4">
        <p><strong>ID:</strong> <span th:text="${castle.id}"></span></p>
        <p><strong>Name:</strong> <span th:text="${castle.name}"></span></p>
        <p><strong>Number of Towers:</strong> <span th:text="${castle.numOfTowers}"></span></p>
        <p><strong>Inner Area:</strong> <span th:text="${castle.innerArea}"></span></p>
    </div>

    <div class="card mb-4 p-4">
        <h2>Defender Type</h2>
        <div class="form-group">
            <select id="defenderType" class="form-control">
                <option value="">Select a defender type</option>
                <option value="Archer">Archer</option>
                <option value="GateHolder">GateHolder</option>
            </select>
        </div>

        <h3>Defenders:</h3>
        <div class="form-group">
            <select id="defenders" disabled class="form-control">
                <option selected disabled>Choose a defender</option>
            </select>
        </div>

        <button id="goToDefender" disabled class="btn btn-primary">Go to Defender</button>
        <button id="addArcherButton" class="btn btn-secondary">Add Archer</button>
        <button id="addGateHolderButton" class="btn btn-secondary">Add GateHolder</button>
    </div>

    <div class="card mb-4 p-4">
        <h2>Balistarias</h2>
        <div class="form-group">
            <select id="balistarias" class="form-control">
                <option value="" selected disabled>Choose a balistaria</option>
                <option th:each="balistaria : ${castle.balistarias}" th:value="${balistaria.id}" th:text="${balistaria.name}"></option>
            </select>
        </div>
        <button id="goToBalistaria" disabled class="btn btn-primary">Go to balistaria</button>
        <button id="addBalistaria" class="btn btn-secondary">Add Balistaria</button>
    </div>

    <div class="card mb-4 p-4">
        <h2>Stables Type</h2>
        <div class="form-group">
            <select id="stableType" class="form-control">
                <option value="">Select a stable type</option>
                <option value="TraditionalStable">Traditional Stable</option>
                <option value="Barn">Royal Stable</option>
                <option value="PrivateStable">Private Stable</option>
            </select>
        </div>

        <h3>Stables:</h3>
        <div class="form-group">
            <select id="stables" disabled class="form-control">
                <option selected disabled>Choose a stable</option>
            </select>
        </div>

        <button id="goToStable" disabled class="btn btn-primary">Go to Stable</button>
        <button id="addTraditionalStableButton" class="btn btn-secondary">Add Traditional Stable</button>
        <button id="addBarnButton" class="btn btn-secondary">Add Royal Stable</button>
        <button id="addPrivateStableButton" class="btn btn-secondary">Add Private Stable</button>
    </div>

    <div class="card mb-4 p-4">
        <h2>Chapels</h2>
        <div class="form-group">
            <select id="chapels" class="form-control">
                <option value="" selected disabled>Choose a chapel</option>
                <option th:each="chapel : ${castle.chapels}" th:value="${chapel.id}" th:text="${chapel.name}"></option>
            </select>
        </div>
        <button id="goToChapel" disabled class="btn btn-primary">Go to Chapel</button>
        <button id="addChapel" class="btn btn-secondary">Add Chapel</button>
    </div>

    <!-- Forms -->
    <!-- Add Balistaria Form -->
    <div id="addBalistariaForm" style="display: none;">
        <form th:action="@{/addBalistaria}" th:object="${balistaria}" method="post" class="form-group">
            <input type="text" th:field="*{name}" placeholder="Name" required class="form-control">
            <input type="number" th:field="*{numberOfBolts}" placeholder="Number of Bolts" required class="form-control">
            <input type="number" th:field="*{power}" placeholder="Power" required class="form-control">
            <input type="hidden" name="castleId" th:value="${castle.id}">
            <input type="submit" value="Add Balistaria" class="btn btn-primary mt-3">
        </form>
    </div>

    <!-- Add Chapel Form -->
    <div id="addChapelForm" style="display: none;">
        <form th:action="@{/addChapel}" th:object="${chapel}" method="post" class="form-group">
            <input type="text" th:field="*{name}" placeholder="Name" required class="form-control">
            <input type="text" th:field="*{capacity}" placeholder="Capacity" required class="form-control">
            <div class="form-group">
                <label for="area">Area in Castle</label>
                <select class="form-control" id="area" th:field="*{locationInCastle}">
                    <option th:each="area : ${areas}" th:value="${area}" th:text="${area.name()}"></option>
                </select>
            </div>

            <div class="form-group">
                <label for="religion">Religion</label>
                <select class="form-control" id="religion" th:field="*{religion}">
                    <option th:each="religion : ${religions}" th:value="${religion}" th:text="${religion.name()}"></option>
                </select>
            </div>
            <input type="hidden" name="castleId" th:value="${castle.id}">
            <input type="submit" value="Add Chapel" class="btn btn-primary mt-3">
        </form>
    </div>

    <!-- Add Archer Form -->
    <div id="addArcherForm" style="display: none;">
        <form th:action="@{/addArcher}" th:object="${archer}" method="post" class="form-group">
            <input type="text" th:field="*{name}" placeholder="Name" required class="form-control">
            <input type="number" th:field="*{health}" placeholder="Health" required class="form-control">
            <input type="number" th:field="*{damage}" placeholder="Damage" required class="form-control">
            <input type="number" th:field="*{numOfArrows}" placeholder="Number of Arrows" required class="form-control">
            <input type="hidden" name="castleId" th:value="${castle.id}">
            <input type="submit" value="Add Archer" class="btn btn-primary mt-3">
        </form>
    </div>

    <!-- Add GateHolder Form -->
    <div id="addGateHolderForm" style="display: none;">
        <form th:action="@{/addGateHolder}" th:object="${gateHolder}" method="post" class="form-group">
            <input type="text" th:field="*{name}" placeholder="Name" required class="form-control">
            <input type="number" th:field="*{health}" placeholder="Health" required class="form-control">
            <input type="number" th:field="*{damage}" placeholder="Damage" required class="form-control">
            <input type="number" th:field="*{stamina}" placeholder="Stamina" required class="form-control">
            <input type="hidden" name="castleId" th:value="${castle.id}">
            <input type="submit" value="Add GateHolder" class="btn btn-primary mt-3">
        </form>
    </div>

    <!-- Add Traditional Stable Form -->
    <div id="addTraditionalStableForm" style="display: none;">
        <form th:action="@{/addTraditionalStable}" th:object="${traditionalStable}" method="post" class="form-group">
            <!-- Add your form fields here -->
            <input type="hidden" name="castleId" th:value="${castle.id}" />

            <input type="text" th:field="*{name}" placeholder="Stable Name" class="form-control">
            <input type="number" th:field="*{numOfHorses}" placeholder="Number of Horses" required class="form-control">
            <div class="form-group form-check">
                <input class="form-check-input" type="checkbox" id="nearbyCliff" th:field="*{hasHay}">
                <label class="form-check-label" for="nearbyCliff">Has Hay?</label>
            </div>
            <input type="submit" value="Add Traditional Stable" class="btn btn-primary mt-3">
        </form>
    </div>

    <!-- Add Barn Form -->
    <div id="addBarnForm" style="display: none;">
        <form th:action="@{/addBarn}" th:object="${barn}" method="post" class="form-group">
            <!-- Add your form fields here -->
            <input type="hidden" name="castleId" th:value="${castle.id}" />
            <input type="text" th:field="*{name}" placeholder="Royal Castle Name" class="form-control">
            <input type="number" th:field="*{numOfHorses}" placeholder="Number of Horses" required class="form-control">
            <input type="number" th:field="*{numOfTools}" placeholder="Number of Tools" required class="form-control">

            <div class="mt-3">
                <label for="governorName">Governor Name:</label>
                <input type="text" id="governorName" name="governorName" placeholder="Governor Name" class="form-control">
            </div>
            <div>
                <label for="governorAge">Governor Age:</label>
                <input type="number" id="governorAge" name="governorAge" placeholder="Governor Age" required class="form-control">
            </div>
            <div>
                <label for="governorTitle">Governor Title:</label>
                <input type="text" id="governorTitle" name="governorTitle" placeholder="Governor Title" class="form-control">
            </div>

            <input type="submit" value="Add Barn" class="btn btn-primary mt-3">
        </form>
    </div>

    <!-- Add Private Stable Form -->
    <div id="addPrivateStableForm" style="display: none;">
        <form th:action="@{/addPrivateStable}" th:object="${privateStable}" method="post" class="form-group">
            <!-- Add your form fields here -->
            <input type="hidden" name="castleId" th:value="${castle.id}" />

            <input type="text" th:field="*{name}" placeholder="Stable Name" class="form-control">
            <input type="number" th:field="*{numOfHorses}" placeholder="Number of Horses" required class="form-control">
            <div class="form-group form-check">
                <input class="form-check-input" type="checkbox" id="hasHay" th:field="*{hasHay}">
                <label class="form-check-label" for="hasHay">Has Hay?</label>
            </div>
            <div class="form-group">
                <label for="roles">Roles:</label>
                <select id="roles" name="roles" multiple class="form-control">
                    <option value="TRADITIONAL_STABLE">Traditional Stable</option>
                    <option value="ROYAL_STABLE">Royal Stable</option>
                </select>
            </div>
            <input type="submit" value="Add Private Stable" class="btn btn-primary mt-3">
        </form>
    </div>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    var archers = /*[[${archersJson}]]*/ '[]';
    var gateHolders = /*[[${gateHoldersJson}]]*/ '[]';
    var traditionalStables = /*[[${traditionalStablesJson}]]*/ '[]';
    var barns = /*[[${barnsJson}]]*/ '[]';
    var chapels = /*[[${chapelsJson}]]*/ '[]';
    var privateStables = /*[[${privateStablesJson}]]*/ '[]';
    /*]]>*/
</script>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function() {
        $("#defenderType").change(function() {
            var type = $(this).val();
            var defenders;

            if (type === 'Archer') {
                defenders = JSON.parse(archers);
            } else if (type === 'GateHolder') {
                defenders = JSON.parse(gateHolders);
            } else {
                return;
            }

            var defendersDropdown = $("#defenders").prop('disabled', false).empty();
            defendersDropdown.append($('<option selected disabled value=""></option>').html("Choose a defender"));

            $.each(defenders, function(i, defender) {
                defendersDropdown.append($('<option></option>').val(defender.id).html(defender.name));
            });

            $("#goToDefender").prop('disabled', true);
        });

        $("#defenders").change(function() {
            var selectedDefender = $(this).val();
            $("#goToDefender").prop('disabled', !selectedDefender || selectedDefender === "");
        });

        $("#goToDefender").click(function() {
            var defenderId = $("#defenders").val();
            var defenderType = $("#defenderType").val()
            defenderType = defenderType.charAt(0).toLowerCase() + defenderType.slice(1);

            if (defenderId) {
                window.location.href = "/" + defenderType + "/" + defenderId;
            }
        });

        $("#stableType").change(function() {
            var type = $(this).val();
            var stables;

            if (type === 'TraditionalStable') {
                stables = JSON.parse(traditionalStables);
            } else if (type === 'Barn') {
                stables = JSON.parse(barns);
            } else if (type === 'PrivateStable') {
                stables = JSON.parse(privateStables);
            } else {
                return;
            }

            var stableDropdown = $("#stables").prop('disabled', false).empty();
            stableDropdown.append($('<option selected disabled value=""></option>').html("Choose a stable"));

            $.each(stables, function(i, defender) {
                stableDropdown.append($('<option></option>').val(defender.id).html(defender.name));
            });

            $("#goToStable").prop('disabled', true);
        });

        $("#stables").change(function() {
            var selectedStable = $(this).val();
            $("#goToStable").prop('disabled', !selectedStable || selectedStable === "");
        });

        $("#goToStable").click(function() {
            var stableId = $("#stables").val();
            var defenderType = $("#stableType").val()
            defenderType = defenderType.charAt(0).toLowerCase() + defenderType.slice(1);

            if (stableId) {
                window.location.href = "/" + defenderType + "/" + stableId;
            }
        });

        $("#addTraditionalStableButton").click(function() {
            $("#addTraditionalStableForm").toggle();
        });

        $("#addBarnButton").click(function() {
            $("#addBarnForm").toggle();
        });

        $("#addPrivateStableButton").click(function() {
            $("#addPrivateStableForm").toggle();
        });
    });
</script>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    $(document).ready(function() {
        $('#balistarias').change(function() {
            // Enable the button when a balistaria is selected
            $('#goToBalistaria').prop('disabled', false);
        });

        $('#goToBalistaria').click(function() {
            // Get the selected balistaria id
            var balistariaId = $('#balistarias').val();
            if (balistariaId) {
                // Redirect to the balistaria detail page
                window.location.href = '/balistaria/' + balistariaId;
            }
        });
    });

    $(document).ready(function() {
        $('#chapels').change(function() {
            // Enable the button when a chapel is selected
            $('#goToChapel').prop('disabled', false);
        });

        $('#goToChapel').click(function() {
            // Get the selected chapel id
            var chapelId = $('#chapels').val();
            if (chapelId) {
                // Redirect to the chapel detail page
                window.location.href = '/chapel/' + chapelId;
            }
        });
    });
</script>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    $(document).ready(function() {
        $("#addBalistaria").click(function() {
            $("#addBalistariaForm").toggle();
        });

        $("#addArcherButton").click(function() {
            $("#addArcherForm").toggle();
        });
        $("#addGateHolderButton").click(function() {
            $("#addGateHolderForm").toggle();
        });
        $("#addChapel").click(function() {
            $("#addChapelForm").toggle();
        });
    });
</script>
</body>
</html>
